/* Author: Gavin Reynolds */
/* Credits: http://flatuicolors.com/ for the colour palette */

#button{
    border-radius: 2px;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    height:auto;
    width:auto;
    text-align:center;
    float:left;
    margin:5px;
    text-transform:Uppercase;
}
.buttonSix {
    background:#f1c40f; /* SUN FLOWER */
    color: #fff;
    border: solid 1px #f39c12; /* ORANGE */
}
.buttonSix:active {
    background:#f39c12; /* ORANGE */
}